@model BookWebsite.Models.GioHang
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Details";
}
<div>
    <h4>Giỏ hàng của bạn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongTien)
        </dd>
        <dt class = "col-sm-2">
            Khách hàng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiDung.UserName)
        </dd>

        <table class="table">
            <thead>
                <tr>

                    <th>
                        Tên sách
                    </th>
                    <th>
                        Số lượng
                    </th>
                    <th>
                        Giá
                    </th>


                    <th></th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < ViewBag.gioHangitem.Count; i++)
                {
                    <tr>
                        <td>@ViewBag.gioHangitem[i].Book.TenSach</td>
                        <td>@ViewBag.gioHangitem[i].SoLuong</td>
                        <td>@ViewBag.gioHangitem[i].Book.Gia</td>

                        <td>
                            <a  class ="btn btn-primary" asp-action="Edit2" asp-controller="GioHangItems" asp-route-id="@ViewBag.gioHangitem[i].Id">Chỉnh sửa</a> 
                            <a  class="btn btn-success" asp-action="Details" asp-controller="GioHangItems" asp-route-id="@ViewBag.gioHangitem[i].Id">Xem sản phẩm</a> 
                            <a  class ="btn btn-danger" asp-action="Delete2" asp-controller="GioHangItems" asp-route-id="@ViewBag.gioHangitem[i].Id">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </dl>
</div>
<div>
    @if(User.IsInRole("Admin"))
    {
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <a class="btn btn-success"  asp - action="Index"> Back to List</a>
    }
   
</div>
