@model IEnumerable<BookWebsite.Models.GioHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Người dùng
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>        
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiDung.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
        
            <td>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Xem chi tiết</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Xóa giỏ hàng</a>
                    @if(User.IsInRole("Admin"))
                    {
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a>
                    }
                  
                </td>
        </tr>
}
    </tbody>
</table>
