@model BookWebsite.Models.GioHangItem

@{
    ViewData["Title"] = "Chỉnh sửa";
    var GiaSach = Decimal.Parse(ViewBag.Book.Gia+"");
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <input asp-for="GioHangId" class="control-label" type="hidden" value="@ViewBag.GioHangId"></input>
            </div>
            <div class="form-group mb-3">

                <label asp-for="BookId" class="control-label"></label>
                <input type="hidden" asp-for="BookId" value="@ViewBag.Book.Id" />
                <input type="text" class="form-control" value="@ViewBag.Book.TenSach" readonly />

                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" value="@GiaSach" type="hidden"/>
                <input type="text" class="form-control" value="@GiaSach" readonly />
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
