@model IEnumerable<BookWebsite.Models.TheLoai>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


@if (TempData["EditStatus"] != null)
{
    <div class="alert alert-success" id="successMessage">
        Cập nhật thành công
    </div>
}

@if (TempData["CreateStatus"] != null)
{
    <div class="alert alert-success" id="successMessage">
        Thêm mới thành công
    </div>
}

@if (TempData["DeleteStatus"] != null)
{
    <div class="alert alert-success" id="successMessage">
        Xóa thành công
    </div>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenTheLoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenTheLoai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<script>
    // Chờ một vài giây (5000 ms = 5 giây) trước khi ẩn thông báo
    setTimeout(function () {
        var successMessage = document.getElementById('successMessage');
        if (successMessage) {
            successMessage.style.display = 'none'; // Ẩn thông báo
        }
    }, 2000);
</script>